html,
body {
  height: 100%;
  width: 7.5rem;
}
#container {
  width: 100%;
  height: 100%;
  background-color: #edf0f5;
  box-sizing: border-box;
  padding-bottom: 1.06rem;
}
#tabBar {
  width: 7.5rem;
  height: 1.06rem;
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
}
#tabBar ul {
  display: flex;
}
#tabBar ul li {
  width: 20%;
  height: 1.06rem;
  text-align: center;
}
#tabBar ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #767d82;
  text-decoration: none;
}
#tabBar ul li a div {
  width: 100%;
  height: 100%;
}
#tabBar ul li:first-of-type .icon {
  background: url("../../images/icon_home_shouye_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:nth-of-type(2) .icon {
  background: url("../../images/icon_home_place_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:nth-of-type(3) .icon {
  background: url("../../images/icon_home_xingc_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:nth-of-type(4) .icon {
  background: url("../../images/icon_home_service.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:last-of-type .icon {
  background: url("../../images/icon_home_my_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:first-of-type .icon1 {
  background: url("../../images/icon_home_shouye_selected_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:nth-of-type(2) .icon1 {
  background: url("../../images/icon_home_place_selected_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:nth-of-type(3) .icon1 {
  background: url("../../images/icon_home_xingc_selected_new.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:nth-of-type(4) .icon1 {
  background: url("../../images/icon_home_service_selected.png") no-repeat center;
  background-size: 1.06rem;
}
#tabBar ul li:last-of-type .icon1 {
  background: url("../../images/icon_home_my_selected_new.png") no-repeat center;
  background-size: 1.06rem;
}
#boot {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
#boot img {
  width: 100%;
  height: 100%;
}
