<div class="container_pay">
    <header>
        <span class="return"></span>
        <h3>收银台</h3>
    </header>
    <div class="order_info">
        <table>
            <tbody>
                <tr>
                    <th>线路名称：</th>
                    <td>【★同程自营 品质保证★】济州岛一地3晚4日半自助游</td>
                </tr>
                <tr>
                    <th>订单总额：</th>
                    <td>￥5558</td>
                </tr>
                <tr>
                    <th>出团日期：</th>
                    <td>2016-10-23</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pay_list">
        <ul>
            <li>
                <div class="pay_icon"></div>
                <div class="pay_name">
                    <p>微信支付<span>推荐</span></p>
                    <p>使用微信支付，安全快捷</p>
                </div>
                <div class="pay_select">
                    <label class="checked"><input type="radio" name="paySelect"></label>
                </div>
            </li>
            <li>
                <div class="pay_icon"></div>
                <div class="pay_name">
                    <p>程程白条<span>3期0手续费</span></p>
                    <p>轻松出游，限时免息</p>
                </div>
                <div class="pay_select">
                    <label class="uncheck"><input type="radio" name="paySelect"></label>
                </div>
            </li>
            <li>
                <div class="pay_icon"></div>
                <div class="pay_name">
                    <p>银行卡支付</p>
                    <p>支持信用卡或储蓄卡支付</p>
                </div>
                <div class="pay_select">
                    <label class="uncheck"><input type="radio" name="paySelect"></label>
                </div>
            </li>
            <li>
                <div class="pay_icon"></div>
                <div class="pay_name">
                    <p>同同宝支付<span>首单100%返现 最高500元</span></p>
                    <p>可至我的钱包开通</p>
                </div>
                <div class="pay_select">
                    <label class="uncheck"><input type="radio" name="paySelect"></label>
                </div>
            </li>
            <li>
                <div class="pay_icon"></div>
                <div class="pay_name">
                    <p>支付宝支付</p>
                    <p>支付宝用户使用</p>
                </div>
                <div class="pay_select">
                    <label class="uncheck"><input type="radio" name="paySelect"></label>
                </div>
            </li>
        </ul>
    </div>
</div>