<div class="modl_C_order">
    <div class="modl_C_orderHead">
        <div class="modl_C_orderTop">
            <img src="./components/targat_position/img/position_top1.png" alt="" ng-click="back()">
            <span>订单填写页</span>
            <img src="./components/targat_position/img/position_top2.png" alt="">
        </div>
        <div class="modl_C_orderPrompt">
            眼看就要成功啦，赶紧提交提单去支付吧！
        </div>
    </div>
    <div class="modl_C_orderMain">
         <div class="main_position">
             <span>南山竹海+灵山大佛大概大哥大哥大哥哥</span>
             <span>2016年10月26日 周日</span>
         </div>
         <div class="main_price">
              <ul>
                  <li >
                      <div class="prc">
                          <h4>成人价</h4>
                          <p>￥{{growupPrice}}/人</p>
                      </div>
                      <div class="put">
                          <p class="growup">
                              <span class="minu" ng-click="minuCount()"></span>
                              <span class="cont"></span>
                              <span class="add" ng-click="addCount()"></span>
                          </p>
                      </div>
                  </li>
                  <li >
                      <div class="prc">
                          <h4>儿童价</h4>
                          <p>￥{{childPrice}}/人</p>
                      </div>
                      <div class="put">
                          <p class="child">
                              <span class="minu" ng-click="minuCount()"></span>
                              <span class="cont"></span>
                              <span class="add" ng-click="addCount()"></span>
                          </p>
                      </div>
                  </li>


              </ul>
        </div>
         <div class="main_set">
              <h3>出游人预订限制</h3>
              <p>出现人年龄超出65岁(含), 不接受</p>
              <p>出游人年龄在18岁至65岁，可以正常在线预订，年龄</p>
              <p>  <img src="./components/C_order/img/sanjiao.png" alt=""></p>

         </div>
         <div class="main_message">
            <h3>联系人信息</h3>
            <dl>
                <dt>联系人：</dt>
                <dd><input ng-change="changeText()" type="text"  placeholder="必填，姓名"  ng-model="linkMan"></dd>
                <dt>手机号：</dt>
                <dd><input ng-change="changeText()" type="text"  ng-model="phoneNum"></dd>
                <dt>邮&nbsp;&nbsp;&nbsp;箱：</dt>
                <dd><input ng-change="changeText()" type="text"  placeholder="必填，接受合同及行程单"  ng-model="email"></dd>
            </dl>
        </div>
         <div class="main_safest">
                 <ul>
                        <li>旅游意外险
                            <img src="./components/C_order/img/wen.png" alt="">
                            <span ng-click="show()" class="selected"></span>
                            <span class="accident">￥48/人</span>
                        </li>
                        <li>旅程预订取消险
                            <img src="./components/C_order/img/wen.png" alt="">
                            <span ng-click="show()" class="selected"></span>
                            <span class="cancle">￥20/人</span>
                        </li>
                 </ul>
         </div>
         <div class="main_benefit1 ">
             <span>惠</span> 满人立减    <span>800<img src="./components/C_order/img/benefit1.png" alt=""></span>
         </div>
         <div class="main_benefit2 ">
            <span>我需要旅游顾问  隆 静 为我一对一服务</span> <span ng-click="show()" class="selected"></span>
        </div>
         <div class="main_benefit3 ">
            点击提交订单表示已阅读并接受 <span>出游人限制和预订须知</span>
        </div>
    </div>
    <div class="modl_C_orderFooter">
        预订总价:
        <span> ￥{{amount}}</span>
        <img src="./components/C_order/img/sanjiao.png" alt="">
        <span class="sub" ng-click="submit()">提交订单</span>
    </div>

</div>