.mineOrder{
    background: #edf0f5;
    height:100%;
    width:7.5rem;
}
/*头部开始*/
.mineOrder-header{
    width:7.5rem;
    height:2.15rem;
    background: white;
    margin-bottom: 0.2rem;
}
.mineOrder-header .top {
    width:7.5rem;
    height:1.15rem;
    display: flex;
}
.mineOrder-header .top .left{
    width:0.9rem;
    height:1.15rem;
}
.mineOrder-header .left a{
    display: block;
    width:0.56rem;
    height:0.46rem;
    margin-top: 0.6rem;
    margin-left: 0.2rem;
}
.mineOrder-header .left span{
    display: block;
    width:0.56rem;
    height:0.46rem;
    background: url("../../images/mineOrder/IMG_2824_03.png") no-repeat;
    background-size: 100%;
}
.mineOrder-header .top .center{
    width:5.1rem;
    height:1.15rem;
    text-align: center;
}
.mineOrder-header .center h2{
    font-size: 0.32rem;
    padding-top: 0.6rem;
    position: relative;
}
.mineOrder-header .center h2:after{
    display: block;
    content: "";
    width:0.25rem;
    height:0.11rem;
    background: url("../../images/mineOrder/downarrow_green.png") no-repeat;
    background-size: 100%;
    position: absolute;
    right: 1.6rem;
    top:0.8rem;
}
.mineOrder-header .top .right{
    width:1.5rem;
    height:1.15rem;
}
.mineOrder-header .top .right span{
    display: block;
    width:0.48rem;
    height:0.46rem;
    background: url("../../images/mineOrder/IMG_2824_05.png") no-repeat;
    background-size: 100%;
    margin-top: 0.6rem;
    margin-left: 0.8rem;
}
.mineOrder-header .bottom{
    width:7.5rem;
    height:1rem;
    display: flex;
    font-size: 0.3rem;
    text-align: center;
    line-height: 1rem;
}
.mineOrder-header .bottom h3{
    width:1.9rem;
    text-align: center;
    margin-left: 25%;
}
.mineOrder-header .bottom div:first-of-type h3{
    border-bottom: 2px solid;
}
.mineOrder-header .bottom .inner{
    width:50%;
    height:1rem;
}
.mineOrder-header .bottom .inner{
    color: #23beae;
}
.mineOrder-header .bottom .before{
    width:50%;
    height:1rem;
}
/*头部结束*/

/*主体开始*/
.mineOrder-main {
    width:7.5rem;
    height:100%;
}
.mineOrder-main ul{
    width:7.25rem;
    height:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.mineOrder-main ul .info{
    width:7.25rem;
    height:2.8rem;
    background: white;
}
.mineOrder-main ul .info .introduce{
    height:1.35rem;
    width:7.25rem;
    display: flex;
}
.mineOrder-main .introduce .ico{
    width:0.75rem;
    height:100%;
}
.mineOrder-main .introduce .ico span{
    display: block;
    width:0.4rem;
    height:0.4rem;
    background: url("../../images/mineOrder/icon_abroad_order.png") no-repeat;
    background-size: 100% 100%;
    margin: 0.575rem auto;
}
.mineOrder-main .introduce .text p{
    padding-top: 5%;
    font-size: 0.27rem;
}
.mineOrder-main .introduce .price{
    color: #ff5346;
    padding-top: 4%;
}
.mineOrder-main .introduce .price p{
    font-size: 0.16rem;
    text-indent: 0.3em;
}
.mineOrder-main ul .info .function{
    height:1.45rem;
    width:7.25rem;
    display: flex;
}
.mineOrder-main .function .data{
    width:50%;
    height:1.45rem;
    color: #999999;
}
.mineOrder-main .function .data p{
    padding-left: 0.8rem;
}
.mineOrder-main .function .btns{
    width:50%;
    height:1.45rem;
    position: relative;
}
.mineOrder-main .function .btns input[type=button]{
    width:1.5rem;
    height:0.55rem;
}
.mineOrder-main .function .btns .refund{
    background: white;
    border-radius: 8px;
    position: absolute;
    bottom:10px;
    left: 10px;
}
.mineOrder-main .function .btns .pay{
    background: white;
    border-radius: 8px;
    background: #ff5346;
    color: white;
    position: absolute;
    bottom:10px;
    right:10px;
}