<div class="mineOrder">
    <!--头部开始-->
    <div class="mineOrder-header">
        <div class="top">
            <div class="left">
                <a ng-click="clk()"><span></span></a>
            </div>
            <div class="center">
                <h2>全部订单</h2>
            </div>
            <div class="right">
                <span></span>
            </div>
        </div>
        <div class="bottom">
            <div class="inner">
                <h3>三个月内</h3>
            </div>
            <div class="before">
                <h3>三个月前</h3>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--主体开始-->
    <div class="mineOrder-main">
        <ul>
            <li class="info">
                <div class="introduce">
                    <div class="ico">
                        <span></span>
                    </div>
                    <div class="text">
                        <p>【★同程自营 品质保证★】济州岛一地
                            半自助游3晚4日</p>
                    </div>
                    <div class="price">
                        <span>￥5558</span>
                        <p>待支付</p>
                    </div>
                </div>
                <div class="function">
                    <div class="data">
                        <p>出发日期：2016-10-22</p>
                    </div>
                    <div class="btns">
                        <input class="refund" type="button" value="申请退改">
                        <input class="pay" type="button" value="立即支付">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--主体结束-->
</div>