<div ng-controller="ClassicController" class="trip_classic_box">
    <div class="classic_header">
        <span class="back_step"></span>
        经典行程
        <span class="header_share"></span>
    </div>
    <div class="classic_cont">
        <div>
            <span class="trip_day">4天</span>
            <span class="trip_add">+加入行程</span>
            <h3>北京文艺四日之旅</h3>
            <span class="trip_route">全聚德（奥运村店）>鸟巢（国家体育馆）</span>
            <spna class="show_num">8079</spna>
        </div>
    </div>
</div>