<div class="mine">
    <!--头部开始-->
    <div class="mine-header">
        <div class="mine-header-top">
            <div class="left">
                <div class="scan"></div>
            </div>
            <div class="right">
                <div class="set"></div>
                <div class="message"></div>
            </div>
        </div>

        <div class="mine-header-center">
            <div class="left">
                <div class="headPortrait"></div>
            </div>
            <div class="center">
                <h5>同城会员_FA0D3773737</h5>
                <span class="grade"></span>
            </div>
            <div class="right">
                <div class="arrow"></div>
            </div>
        </div>

        <div class="mine-header-bottom">
            <div class="left">
                <span class="bgIco"></span>
                <p class="spot">签到赚游戏币</p>
            </div>
            <div class="right">
                <span class="member"></span>
                <p>会员中心</p>
            </div>
        </div>
    </div>
    <!--头部结束-->

    <!--banner开始-->
    <div class="mine-banner">
        <ul>
            <li>
                <a>
                    <div class="order"></div>
                    <p>全部订单</p>
                </a>
            </li>
            <li>
                <a>
                    <div class="pay"></div>
                    <p>待支付</p>
                </a>
            </li>
            <li>
                <a>
                    <div class="travel"></div>
                    <p>待出行</p>
                </a>
            </li>
            <li>
                <a>
                    <div class="comment"></div>
                    <p>待点评</p>
                </a>
            </li>
            <li>
                <a>
                    <div class="refund"></div>
                    <p>退款</p>
                </a>
            </li>
        </ul>
    </div>
    <!--banner结束-->

    <!--nav开始-->
    <div class="mine-nav">
        <div class="mine-nav-top">
            <div class="left">
                <h2>我的钱包</h2>
            </div>
            <div class="right">
                <span class="bgimg"></span>
            </div>
        </div>
        <div class="mine-nav-bottom">
            <ul>
                <li>
                    <a>
                        <h3>同同宝</h3>
                        <p>开通有奖</p>
                    </a>
                </li>
                <li>
                    <a>
                        <h3>程程白条</h3>
                        <p>激活有奖</p>
                    </a>
                </li>
                <li>
                    <a>
                        <h3>红包</h3>
                        <p>0个</p>
                    </a>
                </li>
                <li>
                    <a>
                        <h3>奖金</h3>
                        <p>￥0</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--nav结束-->

    <!--content开始-->
    <div class="mine-content">
        <ul>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgOne"></span>
                    </div>
                    <div class="info">
                        <p>我的收藏</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgTwo"></span>
                    </div>
                    <div class="info">
                        <p>浏览历史</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgThree"></span>
                    </div>
                    <div class="info">
                        <p>我的点评</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgFour"></span>
                    </div>
                    <div class="info">
                        <p>我的发票    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;发票查询</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgFive"></span>
                    </div>
                    <div class="info">
                        <p>常用信息     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 游客、地址、银行卡</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--content结束-->

    <!--contentTwo开始-->
    <div class="mine-contentTwo">
        <ul>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgOne"></span>
                    </div>
                    <div class="info">
                        <p>旅游顾问</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgTwo"></span>
                    </div>
                    <div class="info">
                        <p>微社区</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgThree"></span>
                    </div>
                    <div class="info">
                        <p>帮助与反馈</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <div class="icon">
                        <span class="imgFour"></span>
                    </div>
                    <div class="info">
                        <p>关于同程</p>
                    </div>
                    <div class="btn">
                        <span></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--contentTwo结束-->

    <!--footer开始-->
    <div class="mine-footer">
        <div class="mine-footer-header">
            <h2>猜你喜欢</h2>
        </div>
        <div class="mine-footer-bottom">
           <div class="mine-footer-swiper">
               <div class="contain">
                   <div class="infos">
                       <div class="img1"></div>
                       <div class="introduct">
                           <div class="scenery">
                               <p>韩国首位+大邱全景游</p>
                           </div>
                           <div class="price">
                               <span><i>￥1099</i>起</span>
                               <p>北京出发</p>
                           </div>
                       </div>
                   </div>
                   <div class="infos">
                       <div class="img2"></div>
                       <div class="introduct">
                           <div class="scenery">
                               <p>韩国首位+大邱全景游</p>
                           </div>
                           <div class="price">
                               <span><i>￥1099</i>起</span>
                               <p>北京出发</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <div class="mine-footer-swiper">
                <div class="contain">
                    <div class="infos"></div>
                    <div class="infos"></div>
                </div>
            </div>
            <div class="mine-footer-swiper">
                <div class="contain">
                    <div class="infos"></div>
                    <div class="infos"></div>
                </div>
            </div>
            <div class="mine-footer-swiper">
                <div class="contain">
                    <div class="infos"></div>
                    <div class="infos"></div>
                </div>
            </div>
            <div class="dot">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>