<div ng-controller="DestController" class="distination_box">
    <div class="header">
        <span class="back_step" ng-click="back()"></span>
        选择行程目的地
        <span class="header_jump">路过</span>
    </div>
    <div class="search_input">
        <input type="text" placeholder="请输入国家/省份/城市名">
    </div>
    <div class="select_innerOrout">
        <ul ng-touchstart = "touch()">
            <li >境内</li>
            <li>境外</li>
        </ul>
    </div>
        <div class="select_cont_left">
            <ul>
                <li>广东</li>
                <li>江苏</li>
                <li>浙江</li>
                <li>云南</li>
                <li>四川</li>
                <li>北京</li>
                <li>上海</li>
                <li>天津</li>
                <li>安徽</li>
                <li>甘肃</li>
                <li>广西</li>
                <li>贵州</li>
                <li>海南</li>
                <li>河北</li>
                <li>河南</li>
                <li>黑龙江</li>
                <li>湖北</li>
            </ul>
        </div>
        <div class="select_cont_right">
            <p class="hot">当季热门</p>
            <div class="show_list">
                <div>
                    <h3>广州</h3>
                    <p>广式早茶文化</p>
                </div>
                <div>
                    <h3>深圳</h3>
                    <p>香港的后花园</p>
                </div>
                <div>
                    <h3>佛山</h3>
                    <p>“禅”城耍大刀</p>
                </div>
                <div>
                    <h3>珠海</h3>
                    <p>海淀旅游度假城</p>
                </div>
                <div>
                    <h3>东莞</h3>
                    <p>国际花园城市</p>
                </div>
                <div>
                    <h3>清远</h3>
                    <p>温泉之乡</p>
                </div>
            </div>
            <div class="select_list_location">
                <div>佛冈县</div>
                <div>仁化县</div>
                <div>潮州</div>
                <div>河源</div>
                <div>惠州</div>
                <div>江门</div>
            </div>
        </div>
        <div class="next_step">
            <span class="select_result">请选择行程目的地</span><span class="next">下一步</span>
            <span class="next_shadow"></span>
        </div>
    </div>
