<div class="information_tourists">
    <div class="information_tourists-header">
        <div class="information_tourists-header-left">
            <a><span></span></a>
        </div>
        <div class="information_tourists-header-right">
            <h2>常用旅客</h2>
        </div>
    </div>

    <div class="information_tourists-nav">
        <ul>
            <a ui-sref="addPeople">
                <li>
                    <div class="img">
                        <span class="bg1"></span>
                    </div>
                    <div class="details">
                        <p>添加常用旅客</p>
                    </div>
                    <div class="arrow">
                        <span></span>
                    </div>
                </li>
            </a>
        </ul>
    </div>

    <div  class="information_tourists-info">
        <table>
            <thead>
                <tr>
                    <th>
                        <h2>李寻欢</h2>
                    </th>
                    <th>
                        <a ui-sref="changePeople"><span class="img"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>性别</td>
                    <td>男</td>
                </tr>
                <tr>
                    <td>出生日期</td>
                    <td>1988-10-08</td>
                </tr>
                <tr>
                    <td>手机号码</td>
                    <td>xxxxxxxxxx</td>
                </tr>
                <tr>
                    <td>身份证</td>
                    <td>1236xxxxxxxxx123</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>