<div class="information">
    <div class="information-header">
        <div class="information-header-left">
            <a ng-click="clk()"><span></span></a>
        </div>
        <div class="information-header-right">
            <h2>常用信息</h2>
        </div>
    </div>
    <div  class="information-main">
        <ul>
            <a ui-sref="information_tourists">
                <li>
                    <div class="img">
                        <span class="bg1"></span>
                    </div>
                    <div class="details">
                        <p>常用旅客信息</p>
                    </div>
                    <div class="arrow">
                        <span></span>
                    </div>
                </li>
            </a>
            <a>
                <li>
                    <div class="img">
                        <span class="bg2"></span>
                    </div>
                    <div class="details">
                        <p>常用邮寄地址</p>
                    </div>
                    <div class="arrow">
                        <span></span>
                    </div>
                </li>
            </a>
            <a>
                <li>
                    <div class="img">
                        <span class="bg3"></span>
                    </div>
                    <div class="details">
                        <p>常用银行卡</p>
                    </div>
                    <div class="arrow">
                        <span></span>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>