 <div id="home_box">
     <header>
          <div class="home_head">
               <div class="header_img_div">
                    <img src="images/home_image/ho_sao.png" alt="" class="header_img">
                    <div class="home_search">
                         <img src="images/home_image/search.png" alt="" class="search_img">
                         <input type="text" placeholder="搜索目的地/景点/酒店等" class="search_input">
                    </div>
                    <img src="images/home_image/ho_header_ling.png" alt="" class="home_search_ling">
                    <img src="images/home_image/ho_header_tel.png" alt=""class="home_search_tel">
               </div>
          </div>
     </header>
     <div class="home_banner">
          <div class="home_banner_div">
               <img src="images/home_image/home_banner.png" alt="" class="home_banner_img">
          </div>
     </div>
     <div class="home_main">
          <div class="home_main_fir">
               <div class="home_main_fir_1">
                    <div class="home_main_fir_1_left">
                         <img src="images/home_image/man_1_03.png" alt="" class="home_main_fir_1_left_img1">
                    </div>
                    <div class="home_main_fir_1_right">
                         <img src="images/home_image/man_1_05.png" alt="" class="home_main_fir_1_right_img1">
                         <img src="images/home_image/man_1_07.png" alt="" class="home_main_fir_1_right_img1">
                         <img src="images/home_image/man_1_11.png" alt="" class="home_main_fir_1_right_img1">
                         <img src="images/home_image/man_1_12.png" alt="" class="home_main_fir_1_right_img1">
                    </div>
               </div>
               <div class="home_main_fir_2">
                    <img src="images/home_image/man_1_16.png" alt="" class="home_main_fir_2_img">
                    <img src="images/home_image/man_1_17.png" alt="" class="home_main_fir_2_img">
                    <img src="images/home_image/man_1_18.png" alt="" class="home_main_fir_2_img">
               </div>
               <div class="home_main_fir_1">
                    <div class="home_main_fir_1_left">
                         <img src="images/home_image/man_1_22.png" alt="" class="home_main_fir_1_left_img1">
                    </div>
                    <div class="home_main_fir_1_right">
                         <img src="images/home_image/main_1_28.png" alt="" class="home_main_fir_1_right_img1">
                         <img src="images/home_image/main_1_29.png" alt="" class="home_main_fir_1_right_img1">
                         <img src="images/home_image/main_1_31.png" alt="" class="home_main_fir_1_right_img1">
                         <img src="images/home_image/main_1_31.png" alt="" class="home_main_fir_1_right_img1">
                    </div>
               </div>
               <div class="home_main_fir_3">
                    <img src="images/home_image/man_1_32.png" alt="" class="home_main_fir_3_img">
                    <img src="images/home_image/man_1_33.png" alt="" class="home_main_fir_3_img">
                    <img src="images/home_image/man_1_34.png" alt="" class="home_main_fir_3_img">
               </div>
          </div>
          <div class="home_main_sec">
               <ul class="home_main_sec_ul">
                    <li>
                         <div><img src="images/home_image/icon_03.png" alt=""></div>
                         <p>有票</p>
                    </li>
                    <li>
                         <div><img src="images/home_image/icon_06.png" alt=""></div>
                         <p>签证</p>
                    </li>
                    <li>
                         <div><img src="images/home_image/icon_09.png" alt=""></div>
                         <p>全球wife</p>
                    </li>
                    <li>
                         <div><img src="images/home_image/icon_12.png" alt=""></div>
                         <p>海外玩乐</p>
                    </li>
                    <li>
                         <div><img src="images/home_image/icon_hwwl_order.png" alt=""></div>
                         <p>白条旅游</p>
                    </li>
               </ul>
          </div>
     </div>
     <div class="home_limitshop">
          <div class="home_limitshop_fir">
               <div class="timediv">
                    <img src="images/home_image/time.png" alt="" class="time_img">
                    <div class="time_num">
                         <p>还剩</p>
                         <div class="time">17</div><span>:</span>
                         <div class="time">10</div><span>:</span>
                         <div class="time">01</div>
                    </div>
               </div>
               <a ui-sref="seckill" class="home_limitshop_fir_a">
                    <dl class="time_dl">
                         <dt>
                              <img src="images/home_image/time_pic.png" alt="">
                         </dt>
                         <dd class="time_dd1">【歌诗达游轮-大西洋号】11月11日天津-济州-福冈-天津5晚6日游</dd>
                         <dd class="time_dd2">￥<span class="time_span">2699起</span></dd>
                         <dd>仅限<span class="time_span2">30</span>份 <span class="time_span3">更多抢购</span></dd>
                    </dl>
               </a>
          </div>
          <div class="home_limitshop_sec">
               <div class="home_limitshop_sec_path1">
                    <div class="home_limitshop_div">
                         <p><span>新人专享</span></p>
                         <p>首单立减</p>
                    </div>
                    <div class="home_limitshop_img">
                         <img src="images/home_image/p_03.png" alt="">
                    </div>
               </div>
               <div class="home_limitshop_sec_path1">
                    <div class="home_limitshop_div">
                         <p><span>签到有喜</span></p>
                         <p>连续参与送大礼</p>
                    </div>
                    <div class="home_limitshop_img">
                         <img src="images/home_image/p_05.png" alt="">
                    </div>
               </div>
          </div>
     </div>
      <div class="kong"></div>
      <!--广告pic-->
      <div class="home_advertise">
           <img src="images/home_image/ad_02.png" alt="" class="home_advertise_img">
      </div>

 </div>

