<div class="swiper-container slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="http://pic4.40017.cn/index/slide/2016/09/21/18/7XX3s6.jpg"/>
        </div>
        <div class="swiper-slide">
            <img src="http://pic4.40017.cn/index/slide/2016/09/26/08/3FyVhZ.jpg"/>
        </div>
        <div class="swiper-slide">
            <img src="http://pic4.40017.cn/index/slide/2016/10/08/16/aeBXYF.jpg"/>
        </div>
        <div class="swiper-slide">
            <img src="http://pic4.40017.cn/index/slide/2016/10/11/11/wQKgo0.jpg"/>
        </div>
        <div class="swiper-slide">
            <img src="http://pic4.40017.cn/index/slide/2016/10/13/14/7yI0K5.jpg"/>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
