<div class="home_limitshop_fir">
    <div class="timediv">
        <img src="images/home_image/time.png" alt="" class="time_img">
        <div class="time_num">
            <p>还剩</p>
            <div class="time">{{time | date : 'hh'}}</div>
            <div class="time">{{time | date : 'mm'}}</div>
            <div class="time">{{time | date : 'ss'}}</div>
        </div>
    </div>
    <a ui-sref="seckill" class="home_limitshop_fir_a">
        <dl class="time_dl" >
            <dt>
                <img src={{data.ImgUrl}} alt=""/>
            </dt>
            <dd class="time_dd1">{{data.PITitle}}</dd>
            <dd class="time_dd2">￥<b class="time_span">{{data.ActualPrice}}</b>起</dd>
            <dd>仅限<span class="time_span2">{{data.Stock}}</span>份 <span class="time_span3">更多抢购</span></dd>
        </dl>
    </a>
</div>