<div  class="addPeople" ng-controller="PeopleController">
    <!--头部开始-->
    <div class="addPeople-header">
            <div class="left">
                <a ng-click="clk()"><span></span></a>
            </div>
            <div class="center">
                <h2>添加常用旅客</h2>
            </div>
            <div class="right">
            </div>
    </div>
    <!--头部结束-->

    <!--信息开始-->
    <div class="addPeople-info">
        <div class="ipt">
            <p>中文姓名<input class="name" ng-model="name" placeholder="user name" type="text" ></p>
            <p>手机号码<input class="number" ng-model="phone" placeholder="telephone number" type="text"></p>
        </div>
        <div class="addressList">
            <span></span>
        </div>
    </div>
    <!--信息结束-->

    <!--身份证-->
    <div class="ID">
        <p>身份证&nbsp; &gt; &nbsp;&nbsp;<input class="card" ng-model="idCard" placeholder="ID number" type="text"></p>
        <p class="add">
            <a>
                <span></span>
            </a>
            <i>添加证件类型</i>
        </p>
    </div>
    <!--结束-->

    <!--保存按钮-->
    <div class="save">
        <input type="button" value="保存" ng-click="getData()">
    </div>
</div>