<div class="submit_info" ng-click="jumpToMore()">
    <div>
        <span>线路名称:</span>
        <p>{{successData.title}}</p>
    </div>
    <div>
        <span>出发时间:</span>
        <p>{{successData.oriDate}}</p>
    </div>
    <div>
        <span>出游人数:</span>
        <p>2<span class="info_more"></span></p>
    </div>
    <div>
        <span>出发城市:</span>
        <p>{{successData.oriCity}}</p>
    </div>
    <div>
        <span>订单金额:</span>
        <p>￥{{successData.amount}}</p>
    </div>
</div>