<div class="submit">
    <div class="submit_header">
        <span class="back_step" ng-click="return()"></span>
        提交成功
        <span class="header_share">分享</span>
    </div>
    <div class="submit_cont">
        <div class="submit_success_cont"><p>恭喜您成功提交订单，我们将尽快确认您的订单。</p></div>
        <!--<div class="submit_info">-->
            <!--<div>-->
                <!--<span>线路名称:</span>-->
                <!--<p>【第二人半价】荷兰+-->
                    <!--奥地利+法国+意大利+瑞士10晚13日游</p>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>出发时间:</span>-->
                <!--<p>2016-11-13</p>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>出游人数:</span>-->
                <!--<p>2<a ui-sref="orderInfo"><span class="info_more">></span></a></p>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>出发城市:</span>-->
                <!--<p>北京</p>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span>订单金额:</span>-->
                <!--<p>￥18888</p>-->
            <!--</div>-->
        <!--</div>-->
        <success-order></success-order>
    </div>
    <div class="alert_info" >
        <p>请您耐心等待同程给您的确认短信，若未收到，请及时致电
            4007-991-555转6</p>
        <p>若在17:00至次日9:00期间，我们无法为您立即核实位置信息，将在次
        日早上9:00后处理并会电给您，请您耐心等待。</p>
    </div>
</div>