<div class="targat_position">
    <div class="modl_PositionHead">
        <div class="modl_PositionTop">
            <a ui-sref="target">
                <img src="./components/targat_position/img/position_top1.png" alt="">
            </a>
            <span>{{CityName}}</span>
            <img src="./components/targat_position/img/position_top2.png" alt="">

        </div>
        <div class="modl_PositionNav">
            <div  class="PositionUl">
                <ul>
                    <li>热门推荐</li>
                    <li>景点</li>
                    <li>酒店+景套餐</li>
                    <li>周边跟团</li>
                    <li>国内跟团</li>
                    <li>自由行</li>
                    <li>目的地参团</li>
                    <li>邮轮</li>
                </ul>
            </div>
            <span><img src="./components/targat_position/img/position_nav.png" alt=""></span>
        </div>
    </div>
   <div class="modl_PositionMain">
       <dl ng-repeat=" x in objs_1">
           <dt>
               <img src={{x.picture}} alt="">
               <span>景点</span></dt>
           <dd>
               <h4>{{x.productName}}</h4>
               <p><span>￥</span><span>{{x.price |tr}}</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>{{x.commentCount}}评价 {{x.commentRate}}%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>

   </div>
</div>