<div class="targat_position">
   <div class="modl_PositionTop">
       <img src="./components/targat_position/img/position_top1.png" alt="">
       <span>北京</span>
       <img src="./components/targat_position/img/position_top2.png" alt="">

   </div>
   <div class="modl_PositionNav">
       <div  class="PositionUl">
            <ul>
               <li>热门推荐</li>
               <li>景点</li>
               <li>酒店+景套餐</li>
               <li>周边跟团</li>
               <li>国内跟团</li>
               <li>自由行</li>
               <li>目的地参团</li>
               <li>邮轮</li>
           </ul>
       </div>
       <span><img src="./components/targat_position/img/position_nav.png" alt=""></span>
   </div>
   <div class="modl_PositionMain">
       <dl>
           <dt><img src="" alt=""></dt>
           <dd>北京欢乐谷</dd>
           <dd><span>12</span><span>起</span><del>￥180</del></dd>
           <dd><span>红包可减五元</span></dd>
           <dd>10520评价  98%满意</dd>
       </dl>
   </div>
</div>