<div class="targat_position">
    <div class="modl_PositionHead">
        <div class="modl_PositionTop">
            <a ui-sref="target">
                <img src="./components/targat_position/img/position_top1.png" alt="">
            </a>
            <span>北京</span>
            <img src="./components/targat_position/img/position_top2.png" alt="">

        </div>
        <div class="modl_PositionNav">
            <div  class="PositionUl">
                <ul>
                    <li>热门推荐</li>
                    <li>景点</li>
                    <li>酒店+景套餐</li>
                    <li>周边跟团</li>
                    <li>国内跟团</li>
                    <li>自由行</li>
                    <li>目的地参团</li>
                    <li>邮轮</li>
                </ul>
            </div>
            <span><img src="./components/targat_position/img/position_nav.png" alt=""></span>
        </div>
    </div>
   <div class="modl_PositionMain">
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
       <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
       <dd>
           <h4>北京欢乐谷</h4>
           <p><span>￥</span><span>12</span>起<del>￥180</del></p>
           <p><span>红包可减五元</span></p>
           <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
       </dd>
   </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>
       <dl>
           <dt><img src="./components/targat_position/img/position_mian1.png" alt=""> <span>景点</span></dt>
           <dd>
               <h4>北京欢乐谷</h4>
               <p><span>￥</span><span>12</span>起<del>￥180</del></p>
               <p><span>红包可减五元</span></p>
               <p>10520评价  98%满意  <span>AAAAAAAA</span>      </p>
           </dd>
       </dl>


   </div>
</div>