.targat_position{
    width: 7.5rem;
    background:white;
}
.modl_PositionHead{
    background: white;
     height: 1.76rem;
     width: 7.5rem;
    position: fixed;
    top: 0px;
    z-index: 5;
}
.targat_position .modl_PositionTop {
    height: 0.89rem;
    text-align: center;
    font-size: 0.4rem;
    font-family: "微软雅黑";
    color: black;
    line-height: 0.9rem;

}
.targat_position .modl_PositionTop a {
    float: left;
}
.targat_position .modl_PositionTop img{
    width: 0.49rem;
    height: 0.53rem;
    margin-top:0.2rem;
    margin-left: 0.2rem;
}
.targat_position .modl_PositionTop img:last-child{
    float: right;
    margin-right: 0.2rem;

}
.targat_position .modl_PositionNav{
    position: relative;
    height:0.86rem;
    line-height: 0.86rem;
    font-size: 0.3rem;
    color: black;
    border-bottom: 0.02rem solid #dcdcdc;
}
.targat_position .modl_PositionNav .PositionUl{
    width: 6.63rem;
    /*border: 1px solid red;*/
    overflow: hidden;
}
.targat_position .modl_PositionNav ul {
    width:12.5rem;
    overflow:hidden;
    /*border: 1px solid red;*/
    /*清除浮动*/
}
.targat_position .modl_PositionNav ul li {
    padding: 0 0.22rem;
    float: left;
    height: 0.86rem;
    box-sizing: border-box;
}
.targat_position .modl_PositionNav ul li:nth-of-type(1){
    border-bottom: 0.05rem solid #23beae;
}
.targat_position .modl_PositionNav span{
    border-left: 0.04rem solid #e4e4e4;
    position: absolute;
    right: 0px;
    width: 0.8rem;
    height: 0.4rem;
    top:10px;
    text-align: center;
    line-height: 0.6rem;

}
.targat_position .modl_PositionNav img{
    width:0.35rem ;
    height:0.35rem ;
    vertical-align: top;
    margin-top: 0.06rem;
}
.targat_position .modl_PositionMain {
      padding-top: 1.76rem;
     width: 100%;

}
.targat_position .modl_PositionMain dl{
    width: 100%;
    height: 1.94rem ;
    border-bottom: 0.02rem solid #e4e4e4;
    overflow:hidden;

}
.targat_position .modl_PositionMain dl dt{
    width:1.8rem;
    height: 1.6rem;
    /*border: 1px solid red ;*/
    box-sizing: border-box;
    float: left;
    margin-top:0.16rem ;
    position: relative;
}
.targat_position .modl_PositionMain dl dt img{
    width:1.8rem;
    height: 1.6rem;
}
.targat_position .modl_PositionMain dl dt span{
    display: inline-block;
    width:0.5rem ;
    height: 0.3rem;
    border-radius: 0.04rem;
    background:rgba(0,29,58,0.7);
    position: absolute;
    top: 0.1rem;
    left: 0.08rem;
    color: white;
    text-align: center;
    line-height: 0.3rem;

}

.targat_position .modl_PositionMain dl dd{
    font-size: 0.12rem;
    width:5.4rem;
    height: 1.6rem;
    /*border: 1px solid red ;*/
    float: left;
    margin-top:0.16rem ;
    padding-left: 0.2rem;
    box-sizing: border-box;
    color:#999999 ;
    margin-left: 0.12rem

}
.targat_position .modl_PositionMain dl h4{
    font-size: 0.28rem;
    font-family: "微软雅黑";
    color: black;
}
.targat_position .modl_PositionMain dl p:nth-of-type(1) span{
  color:#ff5346 ;
}
.targat_position .modl_PositionMain dl p:nth-of-type(1) span:nth-of-type(2){
    font-size: 0.34rem;
}
.targat_position .modl_PositionMain dl p:nth-of-type(2) span {
    display: block;
    width:1.5rem;
    height: 0.3rem;
    color: #ff5346;
    border: 0.01rem solid #ff5346;
    font-size:0.12rem ;
    text-align: center;
    line-height: 0.3rem;
}
.targat_position .modl_PositionMain dl p:nth-of-type(3) span{
    float: right;
    color: black;
    right: 0px;

}