<div class="container_orderBack">
    <header>
        <span class="return"></span>
        <h3>申请退改</h3>
    </header>
    <div class="orderBack_content">
        <P class="title">请填写订单退改内容</P>
        <div class="notice">
            <textarea onfocus="if(value=='可以申请修改订单的团期、出游人信息等或申请退款，至少写够3个字哦~'){value=''}"
                      onblur="if (value ==''){value='可以申请修改订单的团期、出游人信息等或申请退款，至少写够3个字哦~'}">可以申请修改订单的团期、出游人信息等或申请退款，至少写够3个字哦~</textarea>
        </div>
        <button>提交</button>
    </div>
    <footer>
        <div>
            <h5>温馨提示</h5>
            <p>1. 提交后，我们会及时跟进，并在24小时内与您联系</p>
            <p>2. 如有问题请致电24小时客服热线：<span>4007-777-777</span></p>
        </div>

    </footer>
</div>