<div ng-controller="orderInfoController" class="orderInfor_box">
    <div class="order_info_header">
        <span class="back_step" ng-click="jumpToSer()"></span>
        订单信息
        <span class="header_phone"></span>
        <span class="header_message"></span>
    </div>
    <div class="main_info">
        <div class="genzong">
            <span>订单跟踪:</span>
            <div>
                <p>尊贵的会员，您的订单已经创纪录</p>
                <p>{{orderData.orderTime}}</p>
            </div>
            <span class="info_left"></span>
        </div>
    </div>
    <order-tpl></order-tpl>
    <div class="shengqing">
        <span class="result" ng-click="orderBack()">申请退改</span>
        <span class="zhifu" ng-click="toPay()">立即支付</span>

    </div>
</div>