<div>
    <div class="order_id">
    <div>
    <span>订单编号:</span>
    <p>{{orderData.orderId}}</p>
    </div>
    <div>
    <span>订单金额:</span>
    <p>￥{{orderData.amount}}</p>
    </div>
    </div>
    <div class="info_cont">
    <div>
    <span>线路名称:</span>
    <p>{{orderData.title}}</p>
    </div>
    <div>
    <span>出发城市:</span>
    <p>{{orderData.orgCity}}</p>
    </div>
    <div>
    <span>出团日期:</span>
    <p>{{orderData.oriDate}}</p>
    </div>
    <div>
    <span>回团日期:</span>
    <p>2016-10-23</p>
    </div>
    <div>
    <span>出行人数:</span>
    <p>{{orderData.growupNum + orderData.childNum}}<span>（{{orderData.growupNum}}位成人<span ng-if="orderData.childNum">{{orderData.childNum}}位儿童</span>）</span></p>
    </div>
    <div>
    <span>相关附件:</span>
    <p>出团通知书将在出团前1~3天内发送</p>
    </div>
    </div>
    <div class="lianxi">
    <div>
    <span>联系人:</span>
    <p>{{orderData.linkMan}}</p>
    </div>
    <div>
    <span>手机号:</span>
    <p>{{orderData.phoneNum}}</p>
    </div>
    </div>
</div>