<div class="container_proDetail">
    <header>
        <span class="return" ng-click="return()"></span>
        <span class="title">国内游路线</span>
        <span class="share"></span>
        <span class="message"></span>
    </header>
    <div class="banner_wrap">
        <img src='{{data.ImgUrl}}'/>
        <p class="pro_instructions">
            <span>{{data.PILabel}}</span>
            <span>产品编号：{{data.PIRelatedId}}</span>
        </p>
    </div>
    <div class="pro_title_wrap">
        <div class="limitTime">
            限时抢购
            <div>
                距离结束：
                <span>{{time | date:'hh'}}</span>：<span>{{time | date:'mm'}}</span>：<span>{{time | date:'ss'}}</span>
            </div>
        </div>
        <div class="pro_title">
            <div>{{data.PITitle}}</div>
            <div><span>￥<b>{{data.ActualPrice}}</b></span>起/人</div>
        </div>
    </div>
    <div class="preferential">
        <table>
            <tbody>
                <tr>
                    <td rowspan="2"></td>
                    <td>满人立减：</td>
                    <td>满1成人立减400元;满2成人立减800元</td>
                    <td rowspan="2" class="next"></td>
                </tr>
                <tr>
                    <td>红包立减：</td>
                    <td>满2500减20，满5000元减40，满7500元减60</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="origin_wrap">
        <div class="origin_name">北京出发</div>
        <div class="select_date">
            <a ng-repeat="x in data.OrgPrice">{{x}}</a>
        </div>
    </div>
    <div class="rules">
        <div class="rule_title">抢购规则</div>
        <ul>
            <li>抢购步骤：立即抢购-填写信息-下单成功-支付成功;</li>
            <li>抢购以最终支付结果为准，支付完成表示抢购成功。</li>
        </ul>
    </div>
    <!--<div class="details">-->
        <!--<div class="tab">-->
            <!--<a href="" class="selected">6日行程</a>-->
            <!--<a href="">产品特色</a>-->
            <!--<a href="">路线点评</a>-->
            <!--<a href="">费用须知</a>-->
        <!--</div>-->
        <!--<div class="description"></div>-->
    <!--</div>-->
    <footer>
        <a>立即抢购</a>
    </footer>

</div>