<div ng-controller="TripController" class="trip_box">
    <div class="trip_assistant">
        <div class="trip_explain"></div>
        <div class="trip_message"></div>
        <a ui-sref="trip_destination" ><div class="trip_assi_btnLogin">登录查看行程</div></a>
    </div>
    <fieldset class="trip_line">
        <legend>• 探索 · 旅行灵感 •</legend>
    </fieldset>
    <div class="trip_select">
         <a ui-sref="trip_classic">
         <div class="trip_stroke_recom">
             <h2>行程推荐</h2>
             <p>一键加入行程</p>
         </div>
         </a>

         <div class="trip_falsh_sale" ng-click="xianshi()">
             <h2>限时抢购</h2>
             <p>折扣天天有，尾货随心购</p>
         </div>
        <div class="trip_camera">
            <h2>带着相机去旅行</h2>
            <p>最高立减600</p>
        </div>
    </div>
    <a ui-sref="trip_destination" ><div class="trip_add"></div></a>


</div>