<div class="container_serOder">
    <header>
        <h3>订单服务</h3>
        <span class="refresh"></span>
        <span class="tel"></span>
    </header>
    <div class="order_list">
        <ul>
            <li>
                <div class="order_content">
                    <div class="order_title">【★同程自营 品质保证★】济州岛一地3晚4日半自助游</div>
                    <div class="content_left">
                        <span class="order_price">￥5558</span>
                        <span class="order_status">待支付</span>
                    </div>
                    <div>出发时间：<span>2016-10-23</span></div>
                </div>
                <div class="order_qa">
                    <span>常见问题：</span>
                    <a href="" >费用包含与不包含</a>
                    <a href="" >出游日期是否可以修改</a>
                    <a href="" >最晚什么时候支付</a>
                    <a href="" >更多问题</a>
                </div>
                <div>
                    <span>
                        <a href="">申请退改</a>
                    </span>
                    <span>
                        <a href="">立即支付</a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>