.container_serOrder{
  width: 100%;
  header{
    height: 89/100rem;
    background-color: #ffffff;
    text-align: center;
    line-height: 89/100rem;
    font-size: 34/100rem;
    font-weight: normal;
    position: relative;
    .tel{
      width: 89/100rem;
      height: 89/100rem;
      background: url("../../images/serOrder/icon_navi_im_new.png") no-repeat center;
      background-size: 60/100rem;
      position: absolute;
      right: 10/100rem;
      bottom: 0;
    }
    .refresh{
      width: 89/100rem;
      height: 89/100rem;
      background: url("../../images/serOrder/nearby_icon_refresh.png") no-repeat center;
      background-size: 60/100rem;
      position: absolute;
      right: 89/100rem;
      bottom: 0;
    }
  }
  .order_list{
    padding: 0 12/100rem;
    box-sizing: border-box;
    li{
      margin-top: 12/100rem;
      width: 726/100rem;
      border-radius: 10/100rem;
      padding: 36/100rem 30/100rem 20/100rem 90/100rem;
      box-sizing: border-box;
      background: #fff url("../../images/serOrder/icon_abroad_order.png") no-repeat 36/100rem 36/100rem;
      background-size: 38/100rem;
      .order_content{
        display: flex;
        flex-wrap: wrap;
        &::after{
          content: '';
          height: 0;
          display: block;
          clear: both;
          visibility: hidden;
        }
        .order_title{
          width: 456/100rem;
          font-size: 28/100rem;
          font-weight: 700;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .content_right{
          height: 75/100rem;
          width: 140/100rem;
          display: flex;
          flex-direction: column;
          text-align: right;
          color: #ff5346;
          .order_price{
            font-weight: 700;
            font-size:28/100rem;
          }
          .order_status{
            font-size: 22/100rem;
          }
        }
        .goTime{
          height: 88/100rem;
          width: 100%;
          color: #999999;
          font-size: 22/100rem;
          line-height:88/100rem;
          border-bottom: 1px solid #e4e4e4;
        }
      }
      .order_qa{
        padding-bottom: 35/100rem;
        box-sizing: border-box;
        span{
          display: block;
          margin: 22/100rem 0;
        }
        a{
          display: block;
          text-decoration: none;
          color: #01a0ff;
          margin-bottom: 35/100rem;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
      .btnGroup{
        text-align: right;
        font-size: 0;
        a{
          display: inline-block;
          width: 160/100rem;
          height: 60/100rem;
          font-size: 26/100rem;
          text-decoration: none;
          border-radius: 10/100rem;
          text-align: center;
          line-height: 60/100rem;
          box-sizing: border-box;
        }
        .back{
          border: 1px solid #e0e0e0;
          color: #666666;
        }
        .pay{
          border:1px solid #ff594c;
          background-color: #ff594c;
          color: #fff;
          margin-left: 20/100rem;
        }
      }
    }
  }
  footer{
    margin-top: 30/100rem;
    text-align: center;
    p{
      width: 432/100rem;
      margin: 0 auto;
      color: #a1a2a2;
      font-size: 24/100rem;
      a{
        color: #01a0ff;
        text-decoration: none;
      }
    }
  }
}