.dataSelect{
    width: 100%;
    height: 100%;
}
.dataSelect .data_header{
    width: 100%;
    height: 0.89rem;
    text-align: center;
    line-height: 0.89rem;
    font-size: 0.40rem;
    background: #fff;
    position: relative;
    position: fixed;
    top:0;
    z-index: 10;
}
.dataSelect .data_header .back_step{
    width: 0.56rem;
    height: 0.6rem;
    background: url("img/icon_navi_back_rest.png")no-repeat;
    background-size: 0.56rem 0.6rem;
    position: absolute;
    left:0.2rem;
    display: inline-block;
    top:0.1rem;
}
.data_list{
    width: 100%;
    height: 9.28rem;
    background: #ffffff;
}
.calendar-wrapper tr:first-of-type{
    border-bottom: 0.01rem solid #e4e4e4;
}
.calendar-wrapper {
    margin-top: 0.3rem;
}
.calendar-wrapper table{
    width: 100%;
    border-collapse: collapse;
}
.calendar-wrapper tr:first-child {
    height: 0.4rem;
    background-image: linear-gradient(to bottom,transparent 50%,#dcdcdc 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.calendar .sunday{
    color: #50b400;
}
.calendar-wrapper th {
    width: 14.2857143%;
    color: #999;
    font-weight: 400;
}
.calendar-wrapper h3 {
    text-align: center;
    font-size: 0.35rem;
    font-weight: 400;
    line-height: 0.3rem;
    margin-bottom: 0.3rem;
    position: relative;
}
.calendar-wrapper h3 .more{
    display: inline-block;
    position: absolute;
    right: 0.4rem;
}
.calendar-wrapper h3 .right{
    display: inline-block;
    position: absolute;
    left:0.4rem;

}
.calendar-wrapper .sunday,.calendar-wrapper .saturday{
    color: #24beae;
}
.calendar-wrapper h3 .money{
    display: inline-block;
    color:red;
    font-size: 0.2rem;
}
.calendar-wrapper h3 .money>span{
    color:#9f9f9f;
    font-size: 0.24rem;
}

.calendar-wrapper tr {
    height: 1rem;
}

.calendar-wrapper td {
    text-align: center;
    vertical-align: middle;
    font-size: 0.14rem;
    padding: 0 0.02rem;
}

.calendar-wrapper td>div {
    height: 0.8rem;
    line-height: 0.8rem;
    color: #e4e4e4;
    font-size: 0.3rem;
    border-radius: 0.1rem;
}
.clickBackground{
    background: #68d2c7;
}
.calendar-wrapper td span {
    display: block;
    padding-top: 0.13rem;
    line-height: 0.14rem;
    color: #333;
}
.calendar-wrapper td p {
    font-size: 0.12rem;
    line-height: 0.16rem;
    color: #50b400;
    margin-top:0.11rem;
}
.calendar-wrapper .today>div {
    background: #f0f0f0;
    border-radius: 0.05rem;
}
.data_show{
    width: 100%;
    height: 7.48rem;
    overflow: hidden;
    margin-top: 1.1rem;
}
 .data_select_card{
    width: 100%;
    height: 1rem;
    line-height: 0.9rem;
    background: #f9fafc;
    border-top: 0.01rem solid #e4e4e4;
    border-bottom: 0.01rem solid #e4e4e4;
    background: url("img/icon_plane_corner_trip.png")no-repeat 6.8rem 0.2rem;
    background-size: 0.4rem 0.4rem;
     margin-top:-1rem;
}
 .data_select_card span{
    height: 0.4rem;
    line-height: 0.3rem;
    border: 0.01rem solid red;
    color: red;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    margin-right: 0.2rem;
    display: inline-block;
}
.data_select_card span:first-of-type{
    margin-left: 0.3rem;
}
.person_num{
    width: 100%;
    background: #fff;
    margin-top: -2.8rem;
}
.person_num div{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-indent: 0.2rem;
    font-size: 0.25rem;
    color: black;
}
.growup{
    border-bottom: 0.01rem solid #e4e4e4;
}

.person_num div span{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border:0.01rem solid #23bdad;
    border-radius: 0.1rem;
    line-height: 0.6rem;
    color: #23bdad;
    font-size: 0.5rem;
    font-weight: bold;
    text-indent: 0.07rem;
}
.person_num div .cont{
    width: 0.8rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-indent: 0.3rem;
    border:0.05rem inset #e4e4e4;
    font-size: 0.3rem;
    color: black;
    font-weight: normal;
}
.person_num div .minu{
    margin-left: 4.3rem;
    text-indent: 0.19rem;
    border-color: #e5e5e5;
    color:#e5e5e5 ;
}
.data_next_step{
    width: 100%;
    height: 1.05rem;
    position: fixed;
    bottom: 0;
    background: #fff;
    border-top:0.01rem solid #e5e5e5;
    z-index: 10000;
}
.data_next_step .select_result{
    width: 5.1rem;
    height: 100%;
    display: inline-block;
    text-align: left;
    line-height: 1rem;
    text-indent: 0.2rem;
    font-size: 0.25rem;
}
.please{
    width: 2rem;
    position: fixed;
    left: 0.8rem;
    bottom: 0rem;
    display: block;
}
.riqi{
    display: none;
    width: 1rem;
    position: fixed;
    left: .7rem;
    bottom: 0rem;
}
.data_next_step .select_result .growupNum{
    width: 2rem;
    position: fixed;
    left: 1.6rem;
    bottom: 0rem;
    display: none;
}
.data_next_step .select_result .childNum{
    width: 2rem;
    position: fixed;
    left: 2.4rem;
    bottom: 0rem;
    display: none;
}

.data_next_step .next{
    width: 2.40rem;
    text-align: center;
    height: 1rem;
    display: inline-block;
    line-height: 1rem;
    background: red;
    z-index: 10;
    font-size: 0.3rem;
    color: #fff;
    position: fixed;
    bottom: 0rem;
    right: 0rem;
}



.next_shadow{
    width: 2.40rem;
    height: 1rem;
    background:rgba(229,229,229,0.7);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: block;
}
