<div ng-controller="DataSelectController" class="dataSelect">
    <div class="data_header">
        <span class="back_step"></span>
        日期选择
    </div>
    <div class="data_list">
        <div class="data_show"></div>
        <div class="data_select_card">
            <span>红包</span><span>银行优惠</span><span>点平返利</span>
        </div>
    </div>
    <div class="person_num">
        <div>选择出行人数</div>
        <div class="growup">成人
            <span class="minu">-</span>
            <span class="cont">2</span>
            <span class="add">+</span>
        </div>
        <div class="child">儿童
            <span class="minu">-</span>
            <span class="cont">3</span>
            <span class="add">+</span>
        </div>
    </div>
    <div class="data_next_step">
        <span class="select_result">团期: 请选择</span><span class="next">下一步</span>
        <span class="next_shadow"></span>
    </div>

</div>