<div class="addPeople">
    <!--头部开始-->
    <div class="addPeople-header">
            <div class="left">
                <a><span></span></a>
            </div>
            <div class="center">
                <h2>编辑常用旅客</h2>
            </div>
            <div class="right">
                <span>删除</span>
            </div>
    </div>
    <!--头部结束-->

    <!--信息开始-->
    <div class="addPeople-info">
        <div class="ipt">
            <p>中文姓名<span>李寻欢</span></p>
            <p>手机号码<span>12580668868</span></p>
        </div>
        <div class="addressList">
            <span></span>
        </div>
    </div>
    <!--信息结束-->

    <!--身份证-->
    <div class="ID">
        <p>身份证&nbsp; &gt; &nbsp;&nbsp; <span>1239875678230865</span></p>
        <p class="add">
            <a>
                <span></span>
            </a>
            <i>添加证件类型</i>
        </p>
    </div>
    <!--结束-->

    <!--保存按钮-->
    <div class="save">
        <input type="button" value="保存">
    </div>
</div>