a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.addPeople{
    background: #edf0f5;
    height:100%;
    width:7.5rem;
}
/*头部开始*/
.changePeople-header{
    width:7.5rem;
    height:1.25rem;
    background: white;
    display: flex;
}

.changePeople-header .left{
    width:1.2rem;
    height:1.15rem;
}
.changePeople-header .left a{
    display: block;
    width:0.56rem;
    height:0.46rem;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}
.changePeople-header .left span{
    display: block;
    width:0.56rem;
    height:0.46rem;
    background: url("../../images/mineOrder/IMG_2824_03.png") no-repeat;
    background-size: 100%;
}
.changePeople-header  .center{
    width:5.1rem;
    height:1.15rem;
    text-align: center;
    line-height: 1.15rem;
}
.changePeople-header .center h2{
    font-size: 0.32rem;
}

.changePeople-header .right{
    width:1.2rem;
    height:1.15rem;
    line-height: 1.15rem;
    text-align: center;
}
.changePeople-header .right span{
    font-size: 0.3rem;
    color: #23beae;
}

.changePeople .changePeople-info{
    width:7.5rem;
    height:1.8rem;
    background: white;
    display: flex;
    margin-bottom: 0.2rem;
}
.changePeople .changePeople-info .ipt{
    width:6.4rem;
    height:1.8rem;
    line-height: 0.9rem;
}
.changePeople .changePeople-info .ipt p{
    font-size: 0.3rem;
    width:100%;
    height:0.9rem;
    text-indent: 0.3rem;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.changePeople .changePeople-info .ipt input{
    width:50%;
    height:100%;
    border: none;
    display: inline-block;
    text-indent: 0.4rem;
    font-size: 0.3rem;
}
.changePeople .changePeople-info .ipt span{
    display: inline-block;
    text-indent: 0.4rem;
}
.changePeople .changePeople-info .addressList span{
    display: block;
    width:0.4rem;
    height:0.4rem;
    background: url("../../images/mineOrder/icon_navi_contacts_rest.png") no-repeat;
    background-size: 100% 100%;
    margin: 0.7rem auto;
}
.changePeople .ID{
    width:7.5rem;
    height:1.75rem;
    background: white;
    line-height: 0.875rem;
    position: relative;
    margin-bottom: 0.3rem;
}
.changePeople .ID p{
    width: 100%;
    height:50%;
}
.changePeople .ID p input{
    height:100%;
    width:70%;
    font-size: 0.3rem;
    border: none;
}
.changePeople .ID p:first-of-type{
    text-indent: 0.4rem;
    font-size: 0.3rem;
    border-bottom: 1px solid #e4e4e4;
}
.changePeople .ID .add a{
    display: block;
    width:2.5rem;
    height:0.52rem;
    position: absolute;
    left:35%;
    top: 60%;
}
.changePeople .ID .add  i{
    font-size: 0.3rem;
    position: absolute;
    left: 45%;
}
.changePeople .ID .add p{
    display: inline-block;
}
.changePeople .ID .add span{
    display: inline-block;
    width:0.52rem;
    height:0.52rem;
    background: url("../../images/mineOrder/icon_addpassenger.png") no-repeat;
    background-size: 100%;
}
.changePeople .save{
    width:7.5rem;
    height:0.9rem;
}
.changePeople .save input{
    width:6.9rem;
    height:0.9rem;
    border-radius: 0.2rem;
    background: #ff5346;
    color: white;
    font-size: 0.4rem;
    margin-left: 0.25rem;
}