<div class="changePeople" ng-controller="ChangeController">
    <!--头部开始-->
    <div class="changePeople-header">
            <div class="left">
                <a ng-click="clk()"><span></span></a>
            </div>
            <div class="center">
                <h2>编辑常用旅客</h2>
            </div>
            <div class="right">
                <span>删除</span>
            </div>
    </div>
    <!--头部结束-->

    <!--信息开始-->
    <div class="changePeople-info" ng-repeat="x in list">
        <div class="ipt">
            <p>中文姓名<input ng-model="x.name" type="text" value="{{x.name}}"></p>
            <p>手机号码<input ng-model="x.phone" type="text" value="{{x.phone}}"></p>
        </div>
        <div class="addressList">
            <span></span>
        </div>
    </div>
    <!--信息结束-->

    <!--身份证-->
    <div class="ID" ng-repeat="x in list">
        <p>身份证&nbsp; &gt; &nbsp;&nbsp;<input ng-model="x.idCard" type="text" value="{{x.idCard}}"></p>
        <p class="add">
            <a>
                <span></span>
            </a>
            <i>添加证件类型</i>
        </p>
    </div>
    <!--结束-->

    <!--保存按钮-->
    <div class="save">
        <input type="button" value="保存">
    </div>
</div>